<div class="section" id="acerca_de_mi">
  <div class="contenedor">
    <div class="info">
        <div class="info_titu">
          <h1 class="efecto_scroll_titulo">Una breve información sobre mí.</h1>
        </div>
        <div class="info_body">
          <div class="info_text">
            <p class="efecto_scroll_entrada_izq">Buenas, soy una persona seria, responsable, con gran interés y ganas de aprender. Muy motivado por trabajar en el sector informático, en especial en las secciones de desarrollo de sistemas frontend (el cual es mi pasion) y backend.</p>
            <p class="efecto_scroll_entrada_izq">Tengo experiencia de alrededor de 1 año, actualmente me concentro en mantenerme al día con las nuevas tendencias en el mercado y nutrir mis habilidades tanto como me sea posible, ademas me encanta crear sitios web bonitos y hermosos</p>
            <p class="efecto_scroll_entrada_opacidad">"I’m 01100110 01100101 01100101 01101100 01101001 01101110 01100111 00100000 01101100 01110101 01100011 01101011 01111001 00001010"</p>
          </div>
          <div class="info_image">
            <img class="efecto_scroll_entrada_drh" src="./../../../assets/images/about_me_transparent_black.png">
          </div>
        </div>
    </div>
  </div>
</div>

<div class="relleno"></div>





